<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<script src="../canvas-library.js"></script>
</head>
<body>
<canvas id="canvas"></canvas>

<script>
window.canvasOptions = {
		autoClear: true,
		autoCompensate: false,
		autoPushPop: true,
		canvas: true,
		centered: true,
		width: null,
		height: null
	};

function setup() {
	
}

function draw() {
	strokeStyle('hsl(0, 0%, 100%)');
	beginPath();
	rect(-100, -100, 200, 200);
	stroke();
}

</script>

</body>
</html>
